

{% macro get_section_index_page_title() -%}
{% if config.extra.INDEX_PAGE_NAV_TITLE %}{{ config.extra.INDEX_PAGE_NAV_TITLE }}{% else %}Index{% endif %}
{%- endmacro -%}
>lmth/<>1h/<.ti ssecca ot resworb ruoy rof noisnetxe thgir eht esU .detpyrcne etiS>1h<>lmth<